/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #141414;
    background-color: #FFFfff;
    overflow-x: hidden;
    font-size: 91.4%;

}

a {
    text-decoration: none;
    color: #141414;
}

/* nav bar styling start here */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 5rem;
}

.nav-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.nav-bar ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 33px;
    margin-left: 0;
    cursor: pointer;
}

.button-div button {
    padding: 20px 35px;
    border-radius: 10px;
    border: none;
    background-color: #2C2D5B;
}

.button-div .Request {
    padding: 20px 30px;
    border-radius: 10px;
    border: #2C2D5B solid 2px;
    background-color: white;
}

.button-div button a {
    color: whitesmoke;
    font-weight: 800;
}

.button-div .Request a {
    color: #2C2D5B;
    font-weight: 800;
}



/* media queries for navbar */


/* Media query for tablets */
@media screen and (min-width: 600px) {
    header {
        padding: 30px 0;
    }

    .nav-bar ul {
        flex-direction: row;

    }

    .nav-bar ul li {
        margin-bottom: 0;
    }

    .button-div {
        flex-direction: row;
        margin-left: 4rem;
    }
}

/* Media query for desktops */
@media (min-width: 1024px) {
    header {
        padding: 50px 0;
    }

    .nav-bar ul {
        gap: 3rem;
    }

    .icon-hamburger img {
        display: none;
    }

}

/* nav bar styling ends here */



/* hero section start here */
.container-hero {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5% 12%;
}

.first-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.first-main .text {
    padding: 10px 20px;
    font-size: 45px;
    width: 596px;
    margin-top: 4rem;
}

.first-main .text h2 {
    font-size: 24px;
    margin-top: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 3rem;
}

.first-main .text h2 span {
    color: #F67366;
    font-family: Lato;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    text-transform: capitalize;
}

.first-main .tex2 {
    padding: 20px 20px;
    font-size: 16px;
    width: 100%;
}

.first-main .tex2 p {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-top: -30px;
}

.icon {
    display: flex;
    gap: 3rem;
    padding: 10px 30px;
    justify-self: center;
    align-items: center;
}

.icon button {
    padding: 1em 4rem;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    background-color: #2C2D5B;
}

.icon .video-img img {
    width: 100%;
    max-width: 100%;
}

.icon p {
    width: 100%;
    font-size: 24px;
}

.icon button a {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

.icon .video-img {
    background-color: #fff;
    box-shadow: 1px 1px 5px #141414;
    padding: 10px 12px;
    border-radius: 100px;
}

.second-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    margin-top: 2rem;
}

.main-container {
    display: flex;
    padding: 46px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 22px;
    background-color: #FFFfff;
}

.container {
    display: flex;
    padding: 36px;
    justify-content: center;
    align-items: center;
    gap: 22px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 0px 25px 0px rgba(151, 151, 151, 0.2);
}

.div1 {
    display: flex;
    padding: 36px;
    justify-content: center;
    align-items: center;
    gap: 22px;
    width: 250px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #979797;
    background: #fff;
}

.container button {
    padding: 36px;
    border-radius: 12px;
    border: none;
    color: #fff;
    width: 250px;
    height: 64px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #2c2d5b;
    cursor: pointer;
}

.container button p {
    font-size: 1.3rem;
}

@media(max-width:320px){
    .icon-hamburger img {
        margin-left: 14rem;
        margin-top:-6rem;
    }

    .hero{
        margin-top: -6rem;
    }
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    header nav {
        display: none;
    }

    header .button-div {
        display: none;
    }

    header {
        overflow: hidden;
        color: #EEF1FA;
        position: relative;
    }

    label img {
        margin-left: -7rem;
    }

    .icon-hamburger img {
        display: block;
    }

    .icon-hamburger img {
        margin-left: 14rem
    }

    .first-main .text {
        width: 100%;
    }

    .first-main .text h2 {
        font-size: 35px;
        margin-top: 1rem;
        text-align: center;
    }

    .first-main .text h2 span {
        font-size: 55px;
        text-align: center;
    }

    .first-main .tex2 {
        padding: 20px 20px;
        font-size: 16px;
        width: 100%;
    }

    .first-main .tex2 p {
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        margin-top: -30px;
        text-align: center;
    }

     .icon { 
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .icon button {
        padding: 1em 3rem;
        border-radius: 10px;
        border: none;
        font-size: 16px;
        background-color: #2C2D5B;
    }

    .video-img img {
        max-width: 100%;
    }

    p {
        font-size: 12px;
    }

    .container-hero {
        flex-direction: column;
        padding: 5% 5%;
    }

    .image img {
        height: auto;
        max-width: 100%;
    }

    .second-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-container {
        flex-direction: column;
        align-items: stretch;
    }

    .container {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .div1 {
        display: flex;
        padding: 36px;
        justify-content: center;
        align-items: center;
        gap: 22px;
        width: 100%;
        /* width: 350px; */
        height: 64px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid #979797;
        background: #fff;
    }
}

/* section */


.section {
    background: #F4F6F9;
    margin-top: 2rem;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 669px;
    padding: 80px;
}

.service-container p {
    color: #141414;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
    text-transform: capitalize;
}

.service-container p span {

    color: #141414;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: red 4px solid;
}

.service-container img {
    width: 100%;
    max-width: 192px;
    height: auto;
}

.section .request-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 75px;
}

.request-container .request {
    width: 100%;
    max-width: 380px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.request-container .request p {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
    color: #4F4F4F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.div2 {
    padding: 50px;
}



.operation {
    padding: 0 12%;
    background-color: #fff;
}

.operation-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #141414;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.operation-container .operations p span {
    color: var #141414;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: red 4px solid;
}

.conect-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 350px;
}

.connect .connects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.connect .connects h2 {
    color: #F67366;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.content {
    width: 100%;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex: 1;
}


.content p {
    color: #4F4F4F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
    width: 400px;
}

.image-contain img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.vector {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    margin-top: -4rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .conect-container {
        gap: 10px;
    }

    .connect .connects h2 {
        font-size: 24px;
    }

    .content p {
        padding: 10px;
    }

    .operation-container p {
        padding: 50px;
    }

    .vector {
        display: none;
    }

    .content {
        display: flex;
        flex: 1;
    }
}

.last-section {
    background: #EEF1FA;
    height: auto;
    width: 100%;
    padding: 0% 12%;
}

.last-section-container {
    display: flex;
    padding: 100px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 100px; */
}


.last-img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.last-section-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #141414;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.last-section-container p span {
    color: var #141414;
    font-family: Lato;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: red 4px solid;
}


.last-img img {
    max-width: 100%;
    height: auto;
    margin-top: 4rem;
}

footer {
    background-color: #2c2d5b;
    color: #FFF;
    padding: 70px 150px;
}

.foot-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10rem;
}


.signup {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 220px;
}

.socia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.socia li {
    list-style: none;
}

ul li {
    list-style: none;
    padding: 5px 0;
}

.line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.line img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 320px) {

    .foot-container {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
    }

    .signup {
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 100%;
        /* Set max-width to ensure responsiveness */
        margin: 0 auto;
        /* Center the signup div */
        padding: 0 20px;
        /* Add some padding for better readability on smaller screens */
        box-sizing: border-box;
        /* Include padding and border in the element's total width and height */
    }


}


@media (max-width: 390px) {

    label img {
        margin-left: -12rem;
    }

    header.icon-hamburger img {
        margin-bottom: 2rem;
    }
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
    .signup {
        width: 100%;
    }
}

label {
    margin-left: 5rem;
}

.absolute-container {
    display: none;
}